<template>
	<div class="manage-discounts">
		<h2>Here you can create new discounts, or make changes to existing ones.</h2>
		<mu-tabs :value="activeTab" @change="handleChange">
			<mu-tab value="/discounts/create" title="Create" icon="insert_drive_file"></mu-tab>
			<mu-tab value="/discounts/edit" title="Edit" icon="edit"></mu-tab>
		</mu-tabs>
		<mu-snackbar v-if="snack" :message="snackMessage"></mu-snackbar>
		<!-- router view here -->
		<router-view :suffix="suffix" @tabChange='handleChange' @created="handleSnack('created')" @edited="handleSnack('edited')" @retrieved="handleSnack('retrieved')" @notFound="handleSnack('not found')" @errorCode="handleErrorSnack" ></router-view>
	</div>
</template>

<script>
export default {
	name: 'manage-discounts',
	data () {
		return {
			activeTab: '/discounts/create',
			suffix: '/plan/',
			snack: false,
			snackMessage: '',
			snackTimer: 0,
		}
	},
	methods: {
		handleChange: function (val) {
			this.activeTab = val
			//go to the view with the tab contents
			this.$router.push(val)
		},
		handleSnack: function (message) {
			this.snackMessage = 'Discount ' + message + '!'
			if (this.snackTimer) {
				clearTimeout(this.snackTime)
			}
			this.snackTimer = setTimeout(() => {
				this.snack = false
			}, 2000)
			this.snack = true
		},
		handleErrorSnack: function (message) {
			console.log(message)
			this.snackMessage = 'Something went wrong: ' + message + '!'
			if (this.snackTimer) {
				clearTimeout(this.snackTime)
			}
			this.snackTimer = setTimeout(() => {
				this.snack = false
			}, 2000)
			this.snack = true
		},
	},
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
	font-weight: normal;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #42b983;
}
</style>
