<template>
	<div class="discounts-edit">
		<mu-paper id="my-paper">
			<div id="button-container">
				<mu-raised-button label="Select a plan" @click="openPlanDialog"></mu-raised-button>
			</div>
			<mu-dialog :open="planDialog" >
				<mu-list>
					<template v-for="plan in plans" >
						<mu-list-item @click="selectPlan(plan)" >
						{{ plan.name }}
						</mu-list-item>
					</template>
				</mu-list>
			</mu-dialog>
			<div id="button-container">
				<mu-raised-button :disabled="selectDiscountDisable" label="Select a discount" @click="openDiscountDialog"></mu-raised-button>
			</div>
			<mu-dialog :open="discountDialog" >
				<mu-list>
					<template v-for="discount in discounts" >
						<mu-list-item @click="selectDiscount(discount)" >
						{{ discount.discountName }}
						</mu-list-item>
					</template>
				</mu-list>
			</mu-dialog>
			<mu-divider></mu-divider>
			<div>
				<mu-text-field :disabled="true" type="text" label="plan name:" v-model="discount.planName" helpText="a-zA-Z0-9"></mu-text-field>
				<span ref="myref"  @mouseenter="handleHover('planName')" @mouseleave="handleHoverExit('planName')" id="tooltip-span">
					<mu-icon value="info"></mu-icon>
					<!-- touch makes the tooltip bigger -->
					<mu-tooltip :label="tooltips.planName" :show="showTooltips.planName" :trigger="triggers.planName" verticalPosition="bottom" horizontalPosition="right" :touch="true"></mu-tooltip>
				</span>
			</div>
			<div>
				<mu-text-field :disabled="true" type="text" label="discount name:" v-model="discount.discountName" helpText="a-zA-Z0-9"></mu-text-field>
				<span ref="myref"  @mouseenter="handleHover('discountName')" @mouseleave="handleHoverExit('discountName')" id="tooltip-span">
					<mu-icon value="info"></mu-icon>
					<!-- touch makes the tooltip bigger -->
					<mu-tooltip :label="tooltips.discountName" :show="showTooltips.discountName" :trigger="triggers.discountName" verticalPosition="bottom" horizontalPosition="right" :touch="true"></mu-tooltip>
				</span>
			</div>
			<div>
				<mu-text-field type="number" label="percentage:" v-model="discount.percentage" helpText="decimal"></mu-text-field>
				<span ref="myref"  @mouseenter="handleHover('percentage')" @mouseleave="handleHoverExit('percentage')" id="tooltip-span">
					<mu-icon value="info"></mu-icon>
					<!-- touch makes the tooltip bigger -->
					<mu-tooltip :label="tooltips.percentage" :show="showTooltips.percentage" :trigger="triggers.percentage" verticalPosition="bottom" horizontalPosition="right" :touch="true"></mu-tooltip>
				</span>
			</div>
			<div id="button-container">
				<mu-raised-button label="Edit" @click="send"></mu-raised-button>
			</div>
		</mu-paper>
	</div>
</template>

<script>
import {HTTP} from '@/http-conf'
import {contentType} from '@/http-conf'
import {mergePatch} from '@/http-conf'
import {setWhen} from '@/http-conf'
import {calculateHash} from '@/http-conf'
export default {
	name: 'discounts-edit',
	data () {
		return {
			discount: {
				planName: '',
				discountName: '',
				percentage: '',
			},
			plans: [],
			planDialog: false,
			discounts: [],
			discountDialog: false,
			target: {
				planName: '',
				discountName: '',
			},
			triggers: {
				'planName': null,
				'discountName': null,
				'percentage': null,
				'targetPlanName': null,
				'targetDiscountName': null,
			},
			showTooltips: {
				'planName': false,
				'discountName': false,
				'percentage': false,
				'targetPlanName': false,
				'targetDiscountName': false,
			},
			tooltips: {
				'planName': 'some additional information here',
				'discountName': 'some additional information here',
				'percentage': 'some additional information here',
				'targetPlanName': 'some additional information here',
				'targetDiscountName': 'some additional information here',
			},
		}
	},
	computed: {
		selectDiscountDisable: function () {
			if (this.plans.length == 0) {
				return true
			}
			return false
		},
		patchConfig: function () {
			const headers = {}
			headers[contentType] = mergePatch
			return {
				headers
			}
		},
		normalConfig: function () {
			const headers = {}
			return {
				headers
			}
		},
		resource: function () {
			return this.suffix + this.target.planName + '/discount/' + this.target.discountName
		},
	},
	methods: {
		handleHover: function (index) {
			this.showTooltips[index] = true
		},
		handleHoverExit: function (index) {
			this.showTooltips[index] = false
		},
		openPlanDialog: function () {
			this.planDialog = true
			//get all plans so that they can be listed in the dialog
			this.getPlans()
			//zero the discounts of a previous selected plan
			this.discounts = []
			this.target.discountName = ''
		},
		openDiscountDialog: function () {
			this.discountDialog = true
			this.getDiscounts()
		},
		getPlans: function () {
			let when = setWhen(this.normalConfig)
			this.normalConfig.headers['Authorization'] = calculateHash('', when)
			HTTP.get('plans', this.normalConfig)
			.then(
				response => {
					console.log('get response', response)
					this.plans = response.data
					this.$emit('retrieved')
				},
				notOK => {
					if (notOK.response.status == 404) {
						this.$emit('notFound')
					} else {
						this.$emit('errorCode', [notOK.response.data])
					}
					this.planDialog = false
				}
			)
		},
		selectPlan: function (p) {
			this.target.planName = p.name
			this.discount.planName = p.name
			this.planDialog = false
		},
		getDiscounts: function () {
			let when = setWhen(this.normalConfig)
			this.normalConfig.headers['Authorization'] = calculateHash('', when)
			HTTP.get('plan/'+this.target.planName+'/discounts', this.normalConfig)
			.then(
				response => {
					console.log('get response', response)
					this.discounts = response.data
					this.$emit('retrieved')
				},
				notOK => {
					if (notOK.response.status == 404) {
						this.$emit('notFound')	
					} else {
						this.$emit('errorCode', [notOK.response.data])
					}
					this.discountDialog = false
					//zero out the fields
					this.discount.planName = ''
					this.discount.discountName = ''
					this.discount.percentage = ''
				}
			)
		},
		selectDiscount: function (d) {
			console.log(this.plans)
			this.target.discountName = d.discountName
			this.discount.discountName = d.discountName
			this.discount.percentage = d.percentage
			this.discountDialog = false
		},
		send: function () {
			let when = setWhen(this.patchConfig)
			this.patchConfig.headers['Authorization'] = calculateHash(this.discount, when)
			HTTP.patch(this.resource, this.discount, this.patchConfig)
			.then(
				response => {
					console.log('patch response', response)
					this.$emit('edited')
				}
			)
		},
	},
	props: {
		suffix: {
			type: String,
			default: '',
		}
	},
	beforeRouteEnter (to, from, next) {
		next (vm => {
			vm.$emit('tabChange', to.path)
		})
	},
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
	font-weight: normal;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #42b983;
}

#my-paper {
	text-align: center;
	margin-left: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 1%;
}

#my-paper div {
	margin-left: 1%;
}

div#button-container {
	padding-top: 1%;
	padding-bottom: 1%;
}
</style>

<!-- NB this style is not scoped, otherwise the style doesn't work since the mu-text-field is a different component -->
<style>
.mu-text-field-help {
	font-style: italic;
}

span#tooltip-span {
	cursor: help;
	position: relative;
}
</style>