<template>
	<div class="graph-area-stack">
		<span class="echarts">
			<IEcharts :option="graph" :resizable="true" :loading="loading" @ready="onReady"></IEcharts>
		</span>
	</div>
</template>

<script>
import IEcharts from 'vue-echarts-v3/src/lite.vue'
// import ECharts from 'echarts'
import 'echarts/lib/component/title'
import 'echarts/lib/chart/line'
import 'echarts/lib/component/legend'
import 'echarts/lib/component/tooltip'
import 'echarts/lib/component/grid'
export default {
	name: 'graph-area-stack',
	data () {
		return {
			loading: true,
			types: [],
		}
	},
	methods: {
		onReady: function () {
			this.loading = false
		},
		doLoading: function () {
			this.loading = !this.loading
		},
		getLabels: function () {
			let now = new Date()
			now.setDate(now.getDate() - this.offset)
			let labels = []
			for (let i = this.portions.length; i > 0; i--) {
				let before = new Date()
				before.setDate(now.getDate() - i)
				// console.log('before: ', before)
				labels.push(before.toLocaleString())
			}
			return labels

		},
		detectTypes: function () {
			this.types = []
			let types = new Set()
			this.portions.forEach(function (day) {
				if (day != null) {
					Object.keys(day).map(k => {
						if (types.has(k)) {
							return
						}
						types.add(k)
					})
				}
			})
			// console.log('types detected:', types)
			return types
		},
	},
	components: {
		IEcharts
	},
	computed: {
		//returns an object with an array of data for every type, the array elements are the numbers for each day
		preparedData: function () {
			let vm = this
			let typesOverTime = {}
			let types = this.detectTypes()
			//initialize all values to zero
			types.forEach(function (type) {
				typesOverTime[type] = []
				typesOverTime[type].length = vm.portions.length
				typesOverTime[type].fill(0)
			})
			//insert the actual values, where values are missing, zeros will remain
			this.portions.forEach(function (day, index) {
				Object.entries(day).map(k_v => {
					let k = k_v[0]
					let v = k_v[1]
					typesOverTime[k][index] = v
				})
			})
			return typesOverTime
		},
		legend: function () {
			let legendData = []
			this.detectTypes().forEach(function (elem) {
				legendData.push(elem)
			})
			// console.log('legendData:', legendData)
			return legendData
		},
		graph: function () {
			return {
				title: {
					//default value here, since the prop binding only affects further changes
					text: this.title,
					x: 'center',
					padding: 30,
				},
				tooltip: {
					trigger: 'axis',
					axisPointer: {
						type: 'cross',
						label: {
							backgroundColor: '#6a7985',
						},
					},
				},
				legend: {
					x: 'left',
					y: 'top',
					top: '3.5%',
					left: '4%',
					borderColor: '#6a7985',
					borderWidth: '1',
					data: function (legend) {
						let data = []
						legend.forEach(elem => {
							let o = {}
							o.name = elem
							o.icon = 'rect'
							data.push(o)
						})
						return data
					}(this.legend)
				},
				grid: {
					left: '5%',
					right: '5%',
					bottom: '5%',
					containLabel: true,
				},
				xAxis: [{
					type: 'category',
					boundaryGap: false,
					data: this.getLabels(),
				}],
				yAxis: [{
					type: 'value',
				}],
				series: function (preparedData) {
					let seriesArray = []
					Object.entries(preparedData).map(k_v => {
						let k = k_v[0]
						let v = k_v[1]
						let part = {}
						part.name = k
						part.type = 'line'
						part.areaStyle = {normal: {}}
						part.stack = 'theOnlyStack'
						part.data = v
						seriesArray.push(part)
					})
					return seriesArray
				}(this.preparedData)
			}
		},
	},
	watch: {
	},
	props: {
		title: {
			type: String,
		},
		offset: {
			type: Number,
		},
		portions: {
			type: Array,
		},
	}
}
</script>

<style scoped>
span.echarts {
	display: block;
	height: 700px;
	width: 100%;
}
</style>