<template>
	<div class="hello2">
		<h1>{{ msg }}</h1>
		<h2>Essential Links</h2>
		<h3>{{ myText }}</h3>
		<button v-on:click="reverseMyText">Reverse message</button>
		<button v-on:click="test">test</button>
		<mu-tabs :value="activeTab" @change="handleChange">
			<mu-tab value="tabCreate" title="Create" icon="insert_drive_file"></mu-tab>
			<mu-tab value="tabEdit" title="Edit" icon="edit"></mu-tab>
		</mu-tabs>
		<!-- router view here -->
		<router-view></router-view>
		<router-link to="/hello2/hello2">Nested hello2</router-link>
		<router-link to="/hello2/drpdwn">Nested dropdown</router-link>
	</div>
</template>

<script>
export default {
	name: 'hello2',
	data () {
		return {
			msg: 'Welcome to Your Vue.js App',
			myText: 'asdasd',
			myInput: 'test'
		}
	},
	methods: {
		test: function () {
			console.log(this.$router.test)
		},
		reverseMyText: function () {
			// console.log(this.myText)
			this.myText = this.myText.split('').reverse().join('')
		}
	},
	watch: {
		'myText': function () {
			console.log(this.myText)
		},
		'myInput': function () {
			console.log(this.myInput)
		}
	},
	props: {
		// test: {
		// 	type: String,
		// },
	},
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
	font-weight: normal;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #42b983;
}
</style>
