<template>
	<div class="plans-create">
		<mu-paper id="my-paper">
			<div>
				<mu-text-field type="text" label="name:" helpTextClass="my-help-class" v-model="plan.name" helpText="string, a-zA-Z0-9"></mu-text-field>
				<span ref="myref"  @mouseenter="handleHover('name')" @mouseleave="handleHoverExit('name')" id="tooltip-span">
					<mu-icon value="info"></mu-icon>
					<!-- touch makes the tooltip bigger -->
					<mu-tooltip :label="tooltips.name" :show="showTooltips.name" :trigger="triggers.name" verticalPosition="bottom" horizontalPosition="right" :touch="true"></mu-tooltip>
				</span>
			</div>
			<div>
				<mu-text-field type="text" label="level:" helpTextClass="my-help-class" v-model="plan.level" helpText="string, a-zA-Z0-9"></mu-text-field>
				<span ref="myref"  @mouseenter="handleHover('level')" @mouseleave="handleHoverExit('level')" id="tooltip-span">
					<mu-icon value="info"></mu-icon>
					<!-- touch makes the tooltip bigger -->
					<mu-tooltip :label="tooltips.level" :show="showTooltips.level" :trigger="triggers.level" verticalPosition="bottom" horizontalPosition="right" :touch="true"></mu-tooltip>
				</span>
			</div>
			<div>
				<mu-text-field type="number" label="length:" helpTextClass="my-help-class" v-model="plan.length" helpText="integer"></mu-text-field>
				<span ref="myref"  @mouseenter="handleHover('length')" @mouseleave="handleHoverExit('length')" id="tooltip-span">
					<mu-icon value="info"></mu-icon>
					<!-- touch makes the tooltip bigger -->
					<mu-tooltip :label="tooltips.length" :show="showTooltips.length" :trigger="triggers.length" verticalPosition="bottom" horizontalPosition="right" :touch="true"></mu-tooltip>
				</span>
			</div>
			<div>
				<mu-text-field type="number" label="price:" helpTextClass="my-help-class" v-model="plan.price" helpText="decimal"></mu-text-field>
				<span ref="myref"  @mouseenter="handleHover('price')" @mouseleave="handleHoverExit('price')" id="tooltip-span">
					<mu-icon value="info"></mu-icon>
					<!-- touch makes the tooltip bigger -->
					<mu-tooltip :label="tooltips.price" :show="showTooltips.price" :trigger="triggers.price" verticalPosition="bottom" horizontalPosition="right" :touch="true"></mu-tooltip>
				</span>
			</div>
			<div>
				<mu-text-field type="text" label="tags:" helpTextClass="my-help-class" v-model="plan.tags" helpText="strings, a-zA-Z0-9, separated by spaces"></mu-text-field>
				<span ref="myref"  @mouseenter="handleHover('tags')" @mouseleave="handleHoverExit('tags')" id="tooltip-span">
					<mu-icon value="info"></mu-icon>
					<!-- touch makes the tooltip bigger -->
					<mu-tooltip :label="tooltips.tags" :show="showTooltips.tags" :trigger="triggers.tags" verticalPosition="bottom" horizontalPosition="right" :touch="true"></mu-tooltip>
				</span>
			</div>
			<div id="button-container">
				<mu-raised-button label="Create" @click="send"></mu-raised-button>
			</div>
		</mu-paper>
	</div>
</template>

<script>
import {HTTP} from '@/http-conf'
import {setWhen} from '@/http-conf'
import {calculateHash} from '@/http-conf'
export default {
	name: 'plans-create',
	data () {
		return {
			plan: {
				name: '',
				level: '',
				length: 0,
				price: 0,
				tags: '',
			},
			triggers: {
				'name': null,
				'level': null,
				'length': null,
				'price': null,
				'tags': null,
				'target': null,
			},
			showTooltips: {
				'name': false,
				'level': false,
				'length': false,
				'price': false,
				'tags': false,
				'target': false,
			},
			tooltips: {
				'name': 'some additional information here',
				'level': 'some additional information here',
				'length': 'some additional information here',
				'price': 'some additional information here',
				'tags': 'you can use spaces or commas to separate individual tags',
				'target': 'some additional information here',
			},
		}
	},
	mounted () {
		Object.keys(this.triggers).map(k => {
			this.triggers[k] = this.$refs[k]
		})
	},
	computed: {
		normalConfig: function () {
			const headers = {}
			return {
				headers
			}
		},
		resource: function () {
				return this.suffix + this.plan.name
		},
		tagsArr: function () {
			let arr = []
			if (this.plan.tags == "") {
				return arr
			}
			//split on whitespace and commas
			arr = (this.plan.tags + '').split(/[\s,]+/)
			const trimmed = []
			arr.forEach(function(tag) {
				trimmed.push(tag.trim())
			})
			return trimmed
		}
	},
	methods: {
		handleHover: function (index) {
			// console.log(index)
			// console.log('hovering over info:', index)
			this.showTooltips[index] = true
		},
		handleHoverExit: function (index) {
			this.showTooltips[index] = false
		},
		send: function () {
			//don't think we need to marshal or serialize anything, js or axios does it
			this.plan.tags = this.tagsArr
			let when = setWhen(this.normalConfig)
			this.normalConfig.headers['Authorization'] = calculateHash(this.plan, when)
			HTTP.put(this.resource, this.plan, this.normalConfig)
			.then(
				response => {
					this.$emit('created')
				})
		},
	},
	props: {
		suffix: {
			type: String,
			default: '',
		}
	},
	//NB router guard has to be here rather than in the parent component, because otherwise it doesn't trigger on navigation
	//to the other tab using router push (from the nav drawer)
	beforeRouteEnter (to, from, next) {
		next (vm => {
			vm.$emit('tabChange', to.path)
		})
	},
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
	font-weight: normal;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #42b983;
}

#my-paper {
	text-align: center;
	margin-left: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 1%;
}

#my-paper div {
	margin-left: 1%;
}

div#button-container {
	padding-top: 1%;
	padding-bottom: 1%;
}
</style>

<!-- NB this style is not scoped, otherwise the style doesn't work since the mu-text-field is a different component -->
<style>
.mu-text-field-help {
	font-style: italic;
}

span#tooltip-span {
	cursor: help;
	position: relative;
}
</style>