<template>
	<div class="theme-icon-menu">
		<mu-icon-menu icon="more_vert" slot="right" :value="theme" @change="changeTheme">
			<mu-menu-item title="Purple" value=""/>
			<mu-menu-item title="Teal" value="teal"/>
			<mu-menu-item title="Carbon" value="carbon"/>
		</mu-icon-menu>
	</div>
</template>

<script>
//default theme is not needed, we can choose it again by passing in an empty string
import teal from '!raw-loader!muse-ui/dist/theme-teal.css'
import carbon from '!raw-loader!muse-ui/dist/theme-carbon.css'
export default {
	name: 'theme-icon-menu',
	data () {
		return {
			theme: '',
			themes: {
				carbon,
				teal
			}
		}
	},
	methods: {
			changeTheme (theme) {
			this.theme = theme
			const styleEl = this.getThemeStyle()
			styleEl.innerHTML = this.themes[theme] || ''
		},
		getThemeStyle () {
			const themeId = 'muse-theme'
			let styleEl = document.getElementById(themeId)
			if (styleEl) return styleEl
			styleEl = document.createElement('style')
			styleEl.id = themeId
			document.body.appendChild(styleEl)
			return styleEl
		}
	}
}
</script>
