<template>
	<div id="app">
		<mu-appbar :title="title">
			<nav-drawer :dockedDrawer="dockedDrawer" slot="left"></nav-drawer>
			<label for="themeMenu" slot="right">Theme</label>
			<theme-icon-menu id="themeMenu" slot="right"></theme-icon-menu>
		</mu-appbar>
		<!-- <img src="./assets/logo.png"> -->
		<router-view @viewChange="changeTitle" @drawer="handleDrawer" :loggedIn="loggedIn" ></router-view>
	</div>
</template>

<script>
import {globalStore} from '@/globalStore'
import {saveConf} from '@/http-conf'
import ThemeIconMenu from '@/components/ThemeIconMenu'
import NavDrawer from '@/components/NavDrawer'
export default {
	name: 'app',
	components: {
		ThemeIconMenu,
		NavDrawer,
	},
	data () {
		return {
			dockedDrawer: false,
			loggedIn: false,
		}
	},
	computed: {
		title: function () {
			console.log('app seeing title:', globalStore.title)
			return globalStore.title
		},
	},
	methods: {
		handleDrawer: function (value) {
			console.log('handling drawer switch:', value)
			this.dockedDrawer = value

			localStorage.setItem('dockedDrawer', JSON.stringify(this.dockedDrawer))
		},
		changeTitle: function (msg) {
			this.title = msg
		},
	},
	mounted () {
		// localStorage.clear()
		//load persistent settings
		if (localStorage.length > 0) {
			console.log('storage')
			let loaded = false
			if (localStorage.serverAddress != null) {
				globalStore.serverAddress = JSON.parse(localStorage.getItem('serverAddress'))
				console.log('loaded serverAddress from localStorage')
				loaded = true
			}
			if (localStorage.appName != null) {
				globalStore.appName = JSON.parse(localStorage.getItem('appName'))
				console.log('loaded appName from localStorage')
				loaded = true
			}
			if (loaded) {
				saveConf(globalStore.serverAddress, globalStore.appName)
				console.log('set httpConf according to the loaded settings')
			}
			if (localStorage.auth != null) {
				globalStore.auth = JSON.parse(localStorage.getItem('auth'))
				console.log('loaded auth hash from localStorage')
				//set the default secret to empty string
				globalStore.defaultSecret = ''
				this.loggedIn = true
			}
			if (localStorage.dockedDrawer != null) {
				this.dockedDrawer = JSON.parse(localStorage.getItem('dockedDrawer'))
				globalStore.dockedDrawer = this.dockedDrawer
			}
		}
	}
}
</script>


<style>
#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 60px;
}

</style>
